<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Google Maps Scraper</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <script id="gmaps" type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAf-6tsTGCPib1xkDgVkTcZp_G6uSMHBCg&libraries=places"></script>
</head>

<body>
    <nav>
        <h1 id="title">Google Maps Scraper</h1>
    </nav>


    <!-- 
    API key 
    Search Term
    Google Place Type (Optional)
    Radius Miles (convert by 1.609 to get back to KM)
    Coordinates Bounding (-77.4896588549,39.0099861995,-73.7762799487,40.7965331276)
     -->


    <div id="main">
        <div id="top">
            <div id="inputs">
                <form id='api-form'>

                    <h2 class="header top-header">Google Places Api Key</h2><hr class="pg-titl-bdr-btm">
                    <input type="text" class="text-in" id="api-in" value="AIzaSyBnJu6878Ez0gsF4rl6Y0y1r96E1UlhKMQ"></input>

                    <h2 class="header">Search Term</h2><hr class="pg-titl-bdr-btm">
                    <input type="text" class="text-in" id="search-in" value="bar"></input>

                    <h2 class="header">Google Place Type (Optional)</h2><hr class="pg-titl-bdr-btm">
                    <h4 class="subtext">Here's a <a href="https://developers.google.com/places/supported_types" target="_blank">list</a> of possible types</h4>
                    <input type="text" class="text-in" id="type-in"></input>

                    <h2 class="header">Search Ring Radius (Miles)</h2><hr class="pg-titl-bdr-btm">
                    <input type="text" class="text-in" id="radius-in" value="1"></input>

                    <h2 class="header">Coordinates Bounding Box</h2><hr class="pg-titl-bdr-btm">
                    <h4 class="subtext">Use this format: [southwest latitude, southwest longitude, northeast latitude, northeast longitude]
                        <br>Here's a helpful <a href="http://boundingbox.klokantech.com/" target="_blank">link</a> for generating this. Use the CSV RAW format</h4>
                    <input type="text" class="text-in" id="coord-in" value="-75.1498901844,40.1613129009,-75.1134979725,40.1791522689"></input>
                </form>

                <button id="submit-button" onclick="ajax_follow()">Go!</button>
                <h3 class="header" id="complete">0 / 0 Complete</h3>

                <h1 id="map-test">Map Test</h1>
            </div>
        </div>
    </div>
    <script>
        function ajax_follow() {
            // api_key, company, radius, swlat, swlng, nelat, nelng, types=''
          const api = $('#api-in').val();
          const company = $('#search-in').val();
          const radius = $('#radius-in').val();
          console.log(radius);
          const types = $('#type-in').val();

          const bounds = $('#coord-in').val().split(',');
          const swlat = bounds[0];
          const swlng = bounds[1];
          const nelat = bounds[2];
          const nelng = bounds[3];
          
          $.ajax({url: "/map", data: {api, company, radius, swlat, swlng, nelat, nelng, types }, success: function(result){
              console.log('success');
              $("#map-test").html(result);
            },
            error(err) { alert("Incorrect input") }
          });
        }
    </script>
</body>
</html>